.place__text-container {
  grid-area: text;
  margin: 0;
}

@media (min-width:450px) and (max-width: 768px) {
  .place__text-container{
  margin: 0 auto;
  }
}

@media (min-width:320px) and (max-width: 449px) {
  .place__text-container{
  margin: 0 16px;
  }
}
