.footer__copyright {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 400;
  margin: 0;
}

@media (min-width: 320px) and (max-width: 767px){
  .footer__copyright {
    font-size: 24px;
    line-height: 1;
  }
}
