.lead__image {
  max-width: 984px;
  margin: 64px auto 8px;
  width: 100%;
}

@media (max-width:1024px) {
  .lead__image {
    max-width: 928px;
    margin: 56px auto 8px;
  }
}

@media (max-width:768px) {
  .lead__image {
    max-width: 768px;
  }
}

@media (max-width:320px) {
  .lead__image {
    max-width: 320px;
    margin: 40px 0 8px;
  }
}
