.cover {
  margin: 0 auto 92px;
  position: relative;
  background: url("../../images/cover-trains.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 740px;
  max-width: 1184px;
  background-size: cover;
  color: #fff;
  text-decoration: none;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0);
  opacity: 0.3;
}

.cover:hover:before {
  opacity: 0.8;
}

@media (max-width:1024px) {
  .cover{
    min-height: 640px;
    max-width: 1024px;
  }
}

@media (max-width:768px) {
  .cover{
    min-height: 480px;
    max-width: 768px;
  }
}

@media (max-width:320px) {
  .cover{
    min-height: 200px;
    max-width: 320px;
    margin-bottom: 64px;
  }
}
