.place__website {
  grid-area: url;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  max-width: 456px;
  margin: 0;

}


@media (min-width: 320px) and (max-width:767px) {
  .place__website {
  min-width: 288px;
  margin: 0 auto;
  }
}
