.place__website {
  grid-area: url;
  display: flex;
  flex-direction: column;
  max-width: 456px;
  margin: 106px 0 48px 40px;

}


@media (max-width: 768px) {
  .place__website {
    margin-top: 46px;
    margin-left: 28px;
  }
}

@media (min-width: 320px) and (max-width:767px) {
  .place__website {
  margin: 32px auto;
  min-width: 288px;
  }
}
